<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order Page</title>
</head>
<body>
  <form action="/order/create" method="POST">

    <label for="bike_name">Bike Name :</label>
    <input type="text" id="bike_name" name="bikename"><br>
    <label for="down_payment">Downpayment :</label>
    <input type="text" id="down_payment" name="downpayment"><br>
    <label for="order_count">Count :</label>
    <input type="text" id="order_count" name="ordercount"><br>

    <input type="submit">
  <br>
  <br>
  <a href="{{ url_for('home') }}"> Go to home page</a> <br>
  </form>
</body>
</html>