<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Display Orders</title>
</head>
<body>
  <table border="1">
    <tr>
      <th>Order ID</th>
      <th>Bike Name</th>
      <th>Downpayment</th>
      <th>Count</th>
      <th>Delete Order</th>
    </tr>

    {% for order in orders %}
    <tr>
      <td>{{ order.id }}</td>
      <td>{{ order.order_bike_name }}</td>
      <td>{{ order.order_downpayment }}</td>
      <td>{{ order.order_count }}</td>
      <td><a href="/order/delete/{{ order.id }}">Delete Order</a></td>
    </tr>
    {% endfor %}
  </table>
  <br>
  <br>
  <a href="{{ url_for('home') }}"> Go to home page</a> <br>
</body>
</html>